<h4>Here is our product list:</h4>



<list-or-grid-view [items]="products">
  <ng-template #showOptions>
    Page: <input type="number" [(ngModel)]="page" (ngModelChange)="load()" />
    Page size: <input type="number" [(ngModel)]="pageSize" (ngModelChange)="load()" />
  </ng-template>

  <ng-template #showListItem let-item="item">
    <div class="card card-body m-2 h-75">
      <div class="row">
        <div class="col-md-4">
          <h5>{{item.productName}}</h5>
        </div>
        <div class="col-md-8">
          <p>Price per unit: {{item.unitPrice | currency}}</p>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #showGridItem let-item="item">
    <div class="card card-body m-2 h-75">
      <h5>{{item.productName}}</h5>
      <p>Price per unit: {{item.unitPrice | currency}}</p>
    </div>
  </ng-template>

</list-or-grid-view>
