<h4>Our customer list:</h4>

<list-or-grid-view [items]="customers$ | async">
  <ng-template #showOptions>
    <page-selector [page]="page" [maxPage]="maxPage" (onPageChange)="changePage($event)"
                   [pageSize]="10" (onPageSizeChange)="changePageSize($event)"></page-selector>
  </ng-template>

  <ng-template #showListItem let-item="item">
    <div class="card card-hoverlink card-body m-2 h-75">
      <a class="stretched-link" [routerLink]="[routePath, item.id]"></a>
      <div class="row">
        <div class="col-md-4">
          <h5>{{item.companyName}}</h5>
        </div>
        <div class="col-md-8">
          <p>({{item.city}})</p>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #showGridItem let-item="item">
    <div class="card card-hoverlink card-body m-2 h-75">
      <a class="stretched-link" [routerLink]="[routePath, item.id]"></a>
      <h5>{{item.companyName}}</h5>
      <p>{{item.city}}</p>
    </div>
  </ng-template>

</list-or-grid-view>
