<h4>Here is our product list:</h4>

<list-or-grid-view [items]="products">
  <ng-template #showOptions>
    <page-selector [page]="page" [maxPage]="maxPage" (onPageChange)="changePage($event)"
                   [pageSize]="10" (onPageSizeChange)="changePageSize($event)"></page-selector>
  </ng-template>

  <ng-template #showListItem let-item="item">
    <div class="card card-hoverlink card-body m-2 h-75">
      <a class="stretched-link" [routerLink]="[routePath, item.id]"></a>

      <div class="row">
        <div class="col-md-4">
          <h5>{{item.productName}}</h5>
        </div>
        <div class="col-md-8">
          <p>({{item.categoryName}})</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          Price: {{item.unitPrice | currency}} per {{item.quantityPerUnit}}
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #showGridItem let-item="item">
    <div class="card card-hoverlink card-body m-2 h-75">
      <a class="stretched-link" [routerLink]="[routePath, item.id]"></a>

      <h5>{{item.productName}}</h5>
      <p>Price per unit: {{item.unitPrice | currency}}</p>
    </div>
  </ng-template>

</list-or-grid-view>
